body {
  background: var(--color-main);
}

h1, h2, h3 {
  color: var(--color-highlight);
}

main {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 8px 20px 2px var(--color-shadow);
  padding: 25px;
}

.btn-success {
  background: var(--color-accent1);
  border-color: var(--color-accent1);
}

.btn-success:hover {
  background: var(--color-highlight);
  border-color: var(--color-highlight);
}