{% extends "base.html" %}

{% block TITLE %}
Registrierung
{% endblock %}

{% block CONTENT %}
<div class="text-center mb-4">
    <img src="{{ url_for('static', filename='images/LogoLostAndFound.jpeg') }}"
         width="180">
</div>

<h1>Registrierung</h1>

<form action="{{ url_for('contact') }}" method="post">

    {{ form.csrf_token }}

    <div class="mb-3">
        {{ form.vorname.label }}
        {{ form.vorname(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.nachname.label }}
        {{ form.nachname(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
    </div>

  

    {{ form.submit(class="btn btn-primary") }}

</form>
{% endblock %}