{% extends "base.html" %}
   
</div>
{% block TITLE %}

Verlust melden
{% endblock %}


{% block CONTENT %}

{% from 'bootstrap5/utils.html' import render_messages %}
{{ render_messages() }}

<div class="container mt-">
<!--flask sucht Bilder und andere statische Dateien automatisch im static folder deswegen static-->
    <img src="{{ url_for('static',filename='images/LogoLostAndFound.jpeg') }}"
     width="100">
</div>

<p>
</p>
<p>
</p>

<h1>Verlust melden</h1>


<form action="{{ url_for('create_post') }}" method="post">

    {{ form.csrf_token }}

    <div class="mb-3">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
</div>

    <div class="mb-3">
        {{ form.description.label }}
        {{ form.description(class="form-control") }}
</div>
<div class="mb-3">
    {{ form.fundbuero_id.label(class="form-label") }}
    {{ form.fundbuero_id(class="form-select") }}
</div>

    <div class="mb-3">
    {{ form.lost_date.label(class="form-label") }}
    <!--tooltip für Verlusdatum-->
    <span
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Wir wissen, dass man sich nach dem Verlust eines Gegenstandes oft nicht mehr an das genaue Datum erinnern kann. Daher kann das Verlustdatum geschätzt angegeben werden.">
        ⓘ
    </span>
    {{ form.lost_date(class="form-control") }}
</div>

    <div class="mb-3">
    {{ form.lost_area.label(class="form-label") }}
    <!--tooltip für Verlustort-->
    <span
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Wir wissen, dass der genaue Verlustort häufig nicht bekannt ist. Daher kann der Verlustort auch ungefähr oder geschätzt angegeben werden.">
        ⓘ
    </span>

    {{ form.lost_area(class="form-control") }}
</div>
<!--"success" lässt Button grün erscheinen-->
    <div class="text-end">
    {{ form.submit(class="btn btn-success") }}
    </div>

</form>

{% endblock %}