{% extends "base.html" %}

<!--flask sucht Bilder und andere statische Dateien automatisch im static folder deswegen static-->
   

</div>
{% block TITLE %}

Verlust melden
{% endblock %}


{% block CONTENT %}
<div class="container mt-">

    <img src="{{ url_for('static',filename='images/LogoLostAndFound.jpeg') }}"
     width="100">
</div>

<p>
</p>
<p>
</p>

<h1>Verlust melden</h1>
<!-- Navbar bzw collapse menü -->
<!-- Menüinhalt -->




<form action="{{ url_for('create_post') }}" method="post">

    {{ form.csrf_token }}

    <div class="mb-3">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.description.label }}
        {{ form.description(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.lost_date.label }}
        {{ form.lost_date(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.lost_area.label }}
        {{ form.lost_area(class="form-control") }}
    </div>

    <div class="text-end">
    {{ form.submit(class="btn btn-success") }}
    </div>

</form>

{% endblock %}