{extends "base.html" %}

{% block TITLE %}
    Profil bearbeiten
{% endblock %}

{% block CONTENT %}

<div class="mb-4"
    <label class="form-label">
        Name
    </label>
    <input type="text" class="form-control" value="{{ user.name }}">

    </div>

<div class="mb-4">
    <label class="form-label">
        Telefonnummer
    </label>
    <input type="text" class="form-control" value="{{ user.telefonnummer }}">
</div>

<div class="mb-4">
    <label class="form-label">
        Campus
    </label>

    <select name="campus" class="form-select">
        <option value="Schöneberg" {% if user.campus == "Schöneberg" %}selected{% endif %}>
            Schöneberg
        </option>

        <option value="Lichtenberg" {% if user.campus == "Lichtenberg" %}selected{% endif %}>
            Lichtenberg
            </option>

            <option value="Startup Incubator" {% if user.campus == "Startup Incubator" %}selected{% endif %}>
                Startup Incubator
            </option>
    </select>
    </div>

    <button type="submit" class="btn btn-success">
        Änderungen speichern
    </button>
    <a href="{{ url_for('profile') }}" class="btn btn-outline-secondary">
        Abbrechen
        </a>
    </div>

    {% endblock %}