{% extends "base.html" %}

{% block TITLE %}
LostAndFound
{% endblock %}

{% block CONTENT %}

<form method="POST"
      action="{{ url_for('suche') }}"
      class="mb-4">

    {{ form.hidden_tag() }}

    <div class="input-group">

        {{ form.suchfeld(
            class="form-control",
            placeholder="Suchen..."
        ) }}

        {{ form.submit(
            class="btn btn-primary"
        ) }}

    </div>

</form>


    <!-- Posts -->
    {% for post in posts %}
        {%if post.user.campus_id == user.campus_id%}
    <div class="border rounded p-3 mb-4">

        <!-- Username -->
        <strong>
            <i class="bi bi-person-circle"></i>
            {{ post.user.benutzername }}
        </strong>

        <!-- Titel -->
        <h5 class="mt-3">
            {{ post.titel }}
          

        </h5>
           <small>
            <i class="bi bi-info-circle"></i>
              Meldedatum: {{ post.meldedatum.strftime('%d.%m.%Y') }}
            </small>
            <br>
            <small class="text-danger">
            <i class="bi bi-hourglass-split"></i>
             Ablaufdatum{{ post.ablaufdatum.strftime('%d.%m.%Y') }}
            </small>
            
        <!-- Buttons + Status -->
        <div class="mt-3 d-flex align-items-center gap-2">
        
 
            <!-- Beschreibung -->
            <button
                class="btn btn-outline-secondary btn-sm"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#details{{ loop.index }}">

                <i class="bi bi-chevron-down"></i>
            </button>
{% if session.get('is_admin')or post.user_id == session.get('user_id') %}
<a href="{{url_for('delete_post',post_id=post.post_id)}}" class="btn btn-danger"> Post löschen</a>

{% endif %}
            <!-- Nachricht -->
          <a href="mailto:{{ post.user.hwr_mail }}?subject={{ ('Yay Gefunden! : ' ~ post.titel)|urlencode }}
          &body={{('Hallo,' ~'\n\n' ~
           'gute Nachricht: Ich habe möglicherweise deinen verlorenen Gegenstand gefunden' ~ '\n\n' ~
           'Gegenstand: ' ~post.titel ~'\n' ~
           'Verlustort: ' ~ post.verlustort ~ '\n\n' ~
            'Bitte melden dich bei mir.' ~ '\n\n' ~
            'Viele Grüße'
            )|urlencode }}">
             
             <i class="bi bi-envelope"></i>
</a>





        </div> 

        <!-- Aufklappbarer Bereich -->
        <div
            class="collapse mt-3"
            id="details{{ loop.index }}">

            <div class="card card-body">

                <p>
                    <strong>Beschreibung:</strong><br>
                    {{ post.beschreibung }}
                </p>

                <p>
                    <strong>Verlustort:</strong><br>
                    {{ post.verlustort }}
                </p>

                <p>
                    <strong>Verlustdatum:</strong><br>
                    {{ post.verlustdatum}}
                </p>

            

                <button
                    class="btn btn-outline-secondary btn-sm w-auto"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#details{{ loop.index }}">

                    <i class="bi bi-chevron-up"></i>

                </button>

            </div>

        </div>

    </div>


        {%endif%}

    {% endfor %}

{% endblock %}
